.appointments-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.section-title {
  color: var(--text-color);
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
}

/* Estilos de la tarjeta de la tabla */
.table-card {
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden; /* Importante para que los bordes redondeados funcionen bien con la tabla */
}

.appointments-table {
  width: 100%;
}

/* Encabezado de la tabla */
.appointments-table .mat-header-cell {
  color: #718096;
  font-weight: 600;
  background-color: #F7FAFC;
  padding: 16px;
  text-align: left;
}

/* Filas de la tabla */
.appointments-table .mat-row {
  transition: background-color 0.3s ease;
}

.appointments-table .mat-row:hover {
  background-color: #F0F4F8;
}

/* Celdas de la tabla */
.appointments-table .mat-cell {
  padding: 16px;
  color: var(--text-color);
  border-bottom: 1px solid #E2E8F0;
}

.appointments-table tr:last-child .mat-cell {
  border-bottom: none;
}

/* Estilo del botón de "Nueva Cita" */
.mat-raised-button.mat-primary {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: white;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(106, 103, 208, 0.2);
}

.mat-raised-button.mat-primary:hover {
  background-color: #5552A1;
  transform: translateY(-2px);
}

/* Estilo del botón de ícono para eliminar */
.mat-icon-button {
  color: #E53E3E; /* Color rojo para la acción de eliminar */
  transition: color 0.2s;
}

.mat-icon-button:hover {
  color: #C53030;
}