@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  --primary-color: #6A67D0;
  --bg-color: #dedef3;
  --card-bg-color: #FFFFFF;
  --text-color: #2D3748;
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --border-radius: 16px;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}